{% extends 'baseSistema.html' %}


{% block nav %}
    {% include 'includes/headerPanel.html' %}
{% endblock nav %}


{% block content %}
    <h2 class="text-success">Actualizar Contraseña</h2>
    <hr class="mt-1">

    <div class="col-md-12 row g-2">
	<nav class="nav d-flex col-md-2">
	    <a href="{% url 'shop_app:panel_shop' %}" class="nav-link">Regresar</a>
	</nav>
	<form class="col-md-6 ms-auto me-auto" method="post">
	    {% csrf_token %}
	    {{form.as_p}}
	    <button type="submit" class="btn btn-success">Actualizar</button>
	    
	</form>

    </div>



{% endblock content %}
