{% extends 'base.html' %}



{% block content %}

    <h2 class="text-success">Registrar Tienda</h2>
    <hr class="mt-0">

    {% if message %}
        <div class="alert alert-success">{{message}}</div>
    {% endif %}
        

    <form method="post" id="form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-sm btn-success">Registrarse</button>
    </form>
    
    <script>
        let form = document.querySelector('#form');
        form.classList.add('mt-2')
        let p = form.querySelectorAll('p');
        p.forEach( p => {
            p.classList.add('mt-3', 'col-md-12');
            let input = p.querySelector('input');
            input.classList.add('form-control')
        });

        let error = form.querySelector('.')
    </script>

{% endblock content %}
    