{% extends 'base.html' %}


{% block content %}

<div class="col-md-6 ms-auto me-auto pt-5">
    
     
    <div class="card border-success w-100 mb-3">
        <div class="card-header bg-success text-white">
            <h2 class="">Inciar sesion</h2>
        </div>
        <div class="card-body text-success">
            {{form.non_field_errors}}
            <form method="post" class="">
                {% csrf_token %}
                <div class="mt-3">
                    <label for="">Correo Electronico</label>
                    {{form.email}}
                </div>
                <div class="mt-3">
                    <label for="">Contraseña</label>
                    {{form.password}}
                    {{form.errors.password}}
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-sm btn-success">Ingresar</button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock content %}
    